.root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  .tableWrapper {
    width: 80%;
    overflow: scroll;
    height: 500px;
    border: 1px solid;
    padding: 20px;
  }
}