$mainColor: #a49eb1;

.widthContainer {
  width: 1440px;
}
.timelineHeader {
  height: 70px;
  border-bottom: 1px dashed $mainColor;
  position: relative;
  .timelineHeaderTimestamp {
    position: absolute;
    top: 50px;
    color: $mainColor;
  }
}

.timelineItemsList {
  height: auto;
}

.timelineListItem {
  height: 60px;
  width: 100%;
  position: relative;
  border-bottom: 1px solid $mainColor;
  > div {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 10px;
    height: 30px;
    border-radius: 12px;
    padding: 6px;
    background-color: #dcf6fe;
    border-left: 2px solid #0d9cc9;
    text-align: center;
    color: #5f5577;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0;
    white-space: nowrap;
    overflow: hidden;
    > span {
      font-size: 16px;
      font-weight: bold;
    }
  }
}

.datePickerInput {
  background: #FFFFFF;
  border: 1px solid #a49eb1;
  padding: 0 10px 0 10px;
  box-sizing: border-box;
  border-radius: 12px;
  font-size: 14px;
  line-height: 21px;
  color: #B0B0BC;
  width: 200px;
  height: 50px;
}